/* .design-container{
    padding-left: 269px;
    padding-right: 269px;
    padding-top: 80px;
    padding-bottom: 80px;
} */
.design{
    display: inline-flex;
    width: 100%;
    height: 100%; 
    padding-left: 60px; 
    padding-right: 60px; 
    padding-top: 48px; 
    padding-bottom: 48px; 
    background: #DCF3ED; 
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.10); 
    border-radius: 30px; 
    justify-content: space-between; 
    align-items: center; 
}
.design-title{
    width: 500px; 
    color: black; 
    font-size: 40px; 
    font-family: Mulish; 
    font-weight: 700; 
    line-height: 60px; 
    word-wrap: break-word;
}

.design-expl{
    align-self: stretch; 
    color: black; 
    font-size: 18px; 
    font-family: Mulish; 
    font-weight: 400; 
    line-height: 27px; 
    word-wrap: break-word;
}

.design-pic{
    width: 500px; 
    height: 320px; 
    padding: 10px; 
    border-radius: 30px;
}

.container{
    width: 400px; 
    align-self: stretch; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex;
}