.page {
  margin: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.sub {
  font-Size: 90%;
  color: #4D4D4D
}


.head {
  font-weight: bold;
}

li {
  padding-bottom: 6px;
}

.boardText {
  font-size: 80%;
}

.vertLine {
  border-left: 6px solid #9CE2D3;
  border-left: 6px solid #9CE2D3;
  padding-right: 1%
}

.outreachDates p {
  margin-bottom: 1%
}

.localEvents p {
  margin-bottom: 1%;
  font-size: 90%;
  color: #4D4D4D
}


.mentor-mentee-grid {
  display: flex;
  gap: 5%;
  justify-content: center;
  background-color: #ffffff;
  min-height: 300px;
  background-size: cover;
  background-position: center top;
  padding-top: 5%;
  padding-bottom: 5%;
}



.mentor-mentee-column {
  padding: 16px;
  background-color: #dcf3ed;
  border-radius: 25px;
  flex-basis: 30%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.mentor-mentee-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-color: #ffffff;
}


.main {
  background-color: #000;
  overflow: hidden;
  position: relative;
}



.swiper {
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
}



img {
  object-fit: contain;
}



.outreachSlides {
  padding-right: 5%;
  padding-left: 6%;
  color: grey;
}


.questionsImg {
  width: 150px;
  height: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.full-width-banner {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.full-width-banner2 {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}


.banner {
  width: 100%;
  height:auto;
}

.banner {
  width: 100%;
  height: auto;
  width: 35%;
  padding-left: 5%;
  padding-bottom: 5%;
  filter: brightness(40%);
}


.banner-text {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  z-index: 2;
  max-width: 40%;
  padding-left: 8%;
}


.banner-header {
  font-size: 3em;
  font-weight: bold;
}


.section-title {
  font-size: 1.5em;
  font-weight: bold;
}


.container {
  width: 100%;
  filter: brightness(40%);
}


.banner-text {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  text-align: left;
  z-index: 2;
  max-width: 40%;
  padding-left: 8%;
}


.banner-header {
  font-size: 3em;
  font-weight: bold;
}


.section-title {
  font-size: 1.5em;
  font-weight: bold;
}


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-bottom: 40px; */
}

.testimonial-col{
  padding-bottom: 7%;
}

.testimonial-person{
  font-size: medium;
  font-weight: bold;
}

.testimonial-row{
  padding-left: 18%;
}

.testimonial-card{
  margin-left: 1%;
  margin-right: 1%;
  width: 25%;
  padding-top: 2%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.column {
  flex: 1 1 0%;
  align-self: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  border-right: 4px solid #9CE2D3;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.content-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.column {
  flex: 1 1 0%;
  align-self: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  border-right: 4px solid #9CE2D3;
  height: 100%;
}

.testimonial-title{
  margin-left: 15%;
  margin-bottom: 2%;
  padding-left: 55px;
  font-weight: bold;
}

.lunch-img{
  height: auto;
  width: 90%;
  border-radius: 20px;
}

.img-col{
  padding-left: 19%;
  padding-bottom: 50px;

}

.times-col{
  padding-top: 9.5%;
  margin-left: -2.5%;
}

/* .times-text{

} */

.times-row{
  padding-top: 5%;
  padding-bottom: 2.5%;
}

.times-card{
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 60%;
}

.times-list{
  padding-left: 20%;
  padding-bottom: 8%;
  padding-top: 12%;
  
}

.times-content{
  font-size: small;
}

.times-text{
  padding-left: 20%;
  padding-bottom: 5%;
  
}

.questions-container{
  background-color: #F8F9FA;
}

.questions-text1{
  padding-left: 20%;
  font-size: x-large;
  padding-bottom: 1.5%;
}
.questions-text2{
  padding-left: 20%;
  padding-bottom: 1%;
}

.questions-img{
  width: 75px;
  height:75px;
  object-fit: cover;
  border-radius: 50%;
}

.questions-card{
  width: 25%;
  justify-content: center;
  border:#F8F9FA;
  background-color: #F8F9FA;
}

.questions-profile{
  justify-content: center;
  margin-left: 10%;
}

.cod {
  align-items: center;
  justify-content: center;
}