.title {
  text-align: center;
  align-items: center;
  box-sizing: content-box;
  /* width: 500; */
  /* background: #defff3; */
  padding: 50px;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../images/homepage-illustration.png');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  text-align: center;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  background-color: #defff3;
  padding: 30px
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  /* color: #fff; */
  color: rgba(0, 0, 0);
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 255, 162);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 2.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 720px
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(0, 255, 162);
  }
}