.title {
  text-align: center;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  /* background: #defff3; */
  padding: 50px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../images/homepage-illustration.png');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header {
  text-align: center;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  background-color: #defff3;
  padding: 30px
}