.home-container {
  padding-bottom: 20px;
}

.hero-container {
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: left;
  color: #fff;
}

.hero-content h2 {
  font-size: 3rem;
  text-align: left;
  color: #fff;
  margin-left: 0;
  max-width: 800px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1rem;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  margin-left: 0;
}

.mission-container {
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}

.heromission-content {
  padding: 0;
}

#home-illustration {
  width: 35%;
  float: right;
}

.call-to-action-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.call-to-action-title {
  padding-left: 80px;
}

.what-we-do-container {
  margin-top: 30px;
}

.title-with-line {
  display: flex;
  align-items: center;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-left: 10px;
}

.title-text {
  margin: 1em;
  white-space: nowrap;
}

.alumni-testimonies-container {
  padding-top: 10px;
  background-size: cover;
  background-position: center top;
  position: relative;
  min-height: 300px;
  color: #000;
}

.alumni-testimonies-content {
  padding: 3%;
  background-color: #defff8;
}

.testimony-grid {
  display: flex;
  justify-content: space-around;
  background-color: #dbfff8;
  min-height: 300px;
  background-size: cover;
  background-position: center top;
  padding: 32px;
}

.testimony-column {
  padding: 16px;
  background-color: #fff;
  border-radius: 25px;
  flex-basis: 30%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.btn,
.btn-primary {
  border-radius: 5em;
  color: black;
  background-color: #9CE2D3;
  border-color: #9CE2D3;
}

.headerName {
  font-size: 300%;
}

.sponsor-container {
  padding: 3%;
  padding-top: 40px;
  text-align: center;
}

.get-involved-grid {
  display: flex;
  height: 100%;
  width: 90%;
  gap: 2rem;
}

.get-involved-column {
  display: flex;
  flex-direction: column;
  background-color: #9ce2d3;
  height: 100%;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.get-involved-column:hover {
  background-color: #f8f8f8;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
}

.arrow-img,
.button-name,
.button-description {
  display: flex;
  justify-content: flex-start;
}

.panel-link:hover {
  color: #000;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.carousel .control-arrow {
  padding: 0;
}

.carousel .control-dots {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: black;
}

.carousel .control-dots .dot {
  background-color: black;
  color: black;
  opacity: 0.8;
}