.home-container {
  margin: 3%;
}

.hero-container, .mission-container, .call-to-action-container {
  margin: 3% 0;
}

.hero-container {
  overflow: hidden;
}

#home-illustration {
  width: 35%;
  float: right;
}

.call-to-action-container {
  /* margin-bottom: %; */
  text-align: center;
}

/* react-bootstrap button style overriding */
.btn {
  border-radius: 5em;
}

.btn-primary {
  color: black;
  background-color: #9CE2D3;
  border-color: #9CE2D3;
}

.headerName {
  font-size: 50px;
}