h2 {
  color: black;
}

.containerPage {
  /* margin: 5%; */
  /* margin-top: 25px; */
  margin: 5%;
  margin-left: 12%;
  margin-right: 12%;
}

.rowC {
  display: flex;
  flex-direction: row;
  columns: 2 auto;
}

.fakeCard {
  margin-bottom: 200px;
}

/* .col {
  float: left
} */

.sponsorStyle {
  margin-top: 0px;
  margin-bottom: 60px;
}

.faculty {
  margin-left: 5%;
  margin-right: 5%;
}

.extra BoardCard {
  color: white;
}
