.top-section {
  padding-left: 140px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--Grey, #fbfbfb);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.top-header {
  text-align: left;
  font-weight: 700;
  font-family: Mulish;
  font-size: 30px;
  font-style: normal;
  line-height: 150%;
}

.top-text {
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* Text Responsive smaller screen */
@media screen and (max-width: 768px) {
  .top-header {
    font-size: 24px;
  }

  .top-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .top-header {
    font-size: 20px;
  }

  .top-text {
    font-size: 13px;
  }
}
