.color-nav {
  position: relative;
  display: inline-flex;
  padding: 56px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  background: var(--3, #FFF);
}

.copyright{
  color: var(--G1, #959598);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

.icon{
  border-radius: 19.286px;
  background: linear-gradient(0deg, rgba(156, 226, 211, 0.60) 0%, rgba(156, 226, 211, 0.60) 100%), #FFF;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 10.286px;
  justify-content: center;
  align-items: center;
  gap: 6.429px;
}

.pages{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.footerNav{
  display: flex;
  width: 1728px;
  padding: 0px 100px;
  align-items: center;
  gap: 56px;
}

.copyright{
  color: var(--G1, #959598);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  display: flex;
  width: 1728px;
  padding: 0px 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footer {
  overflow: hidden !important;
}