body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Inter", "Rubik",
    "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  height: 100%;
  overflow-y: scroll;
}

@import url("https://fonts.googleapis.com/css?family=Mulish:400,700");

.body {
  background-color: #f9f9f9cb;
  text-align: left;
}

.title {
  text-align: center;
  align-items: center;
  box-sizing: content-box;
  padding: 50px;
  padding-top: 320px;
  padding-right: 240px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

* {
  font-family: Mulish, sans-serif;
  font-weight: 450;
}

.header {
  text-align: left;
  align-items: center;
  box-sizing: content-box;
  font-size: 20px;
  width: 100%;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Mulish, sans-serif;
  margin: 0;
}

.item {
  position: relative;
  height: 25rem;
  background-color: lightGrey;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  border-radius: 8px;
}

.item h3 {
  margin: 0;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 24px;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
  font-size: 24px;
  overflow-y: hidden;
}

.item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carousel {
  width: 50%;
  height: 50%;
  margin: auto;
}
